<br><br><h2><div class="text-center">Welcome to Manager Dashboard</div></h2>
<div class="list-group">
    <br><a  class="list-group-item list-group-item-action text-center" style="font-size: 25px; color:rgba(19, 19, 159, 0.816)" routerLink="/guest">Guest</a><br>
    <a  class="list-group-item list-group-item-action text-center" style="font-size: 25px; color:rgba(19, 19, 159, 0.816)" routerLink="/reservation ">Reservation</a><br>
    <a  class="list-group-item list-group-item-action text-center" style="font-size: 25px; color:rgba(19, 19, 159, 0.816)" routerLink="/inventory">Inventory</a><br>
    <a  class="list-group-item list-group-item-action text-center"style="font-size: 25px; color:rgba(19, 19, 159, 0.816)"  routerLink="/room">Room</a>
   
</div>
