<br><br><h2><div class="text-center">Dashboard</div></h2>
<div class="list-group">
    <br><a  class="list-group-item list-group-item-action text-center" style="font-size: 25px; color:blue" routerLink="/guest">Guest</a><br>
    <a  class="list-group-item list-group-item-action text-center" style="font-size: 25px; color:blue" routerLink="/reservation">Reservation</a><br>
    <a  class="list-group-item list-group-item-action text-center" style="font-size: 25px; color:blue" routerLink="/bill">Bill</a><br>
    <a  class="list-group-item list-group-item-action text-center" style="font-size: 25px; color:blue"  routerLink="/room">Room</a><br>
    <a  class="list-group-item list-group-item-action text-center" style="font-size: 25px; color:blue"  routerLink="/inventory">Inventory</a>
    
</div>